// Utility classes
@function luminance($color) {
    $red: red($color) / 255;
    $green: green($color) / 255;
    $blue: blue($color) / 255;
    $luminance: 0.2126 * $red + 0.7152 * $green + 0.0722 * $blue;
    @return $luminance;
}